<div class="card-container">
  <mat-card class="character-card">
    <mat-paginator
      [length]="paginatorSize"
      [pageSize]="20"
      aria-label="Select page"
    >
    </mat-paginator>
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      class="mat-elevation-z8"
      (matSortChange)="SortChange($event)"
      *ngIf="episodes | async as chapter"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
        <td mat-cell *matCellDef="let element" (click)="openDialog(element)">
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="episode">
        <th mat-header-cell *matHeaderCellDef>episode</th>
        <td mat-cell *matCellDef="let element" (click)="openDialog(element)">
          {{ element.episode }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card>
</div>
