<p>
  <mat-toolbar color="primary" class="header-container">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <aside class="header-links">
      <a mat-raised-button href="https://www.google.com/" target="_blank"
        >characters</a
      >
      <a mat-raised-button href="https://www.google.com/" target="_blank"
        >Episodes</a
      >
      <a mat-raised-button href="https://www.google.com/" target="_blank"
        >Locations</a
      >
    </aside>
  </mat-toolbar>
</p>
